* {
  text-wrap: balance;
}

[data-mantine-color-scheme=light] body {
  background-color: var(--mantine-color-gray-0);
}

[data-mantine-color-scheme=dark] body {
  background-color: var(--mantine-color-dark-8);
}
